.StartUpCardDiv {
  border-radius: 2px solid black;
  justify-content: space-around;
  width: 25rem;
  border: 1px solid black;
  margin: auto 3rem;
}
.StartUpCardDiv h1 {
  padding: 10px;
  font-size: 2rem;
}
.StartUpCardDiv p {
  padding: 10px;
}
.StartUpCardDiv img {
  width: 24.8rem;
  height: 20rem;
}
.StartUpCardDiv a {
  text-transform: none;
  text-decoration: none;
  color: blue;
  float: left;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .StartUpCardDiv {
    /* overflow-y: hidden; */
    width: 50rem;
    height: 20rem;
  }
  .StartUpCardDiv img {
    width: 20rem;
    height: 10rem;
  }
  .StartUpCardDiv h1 {
    padding: 0px;
    font-size: 1.7rem;
  }
  .StartUpCardDiv p {
    font-size: 0.9rem;
  }
}
