nav {
  background-color: transparent;
  height: 5rem;
  display: flex;
}
nav li {
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
  margin: 20px 15px;
}
.HomePageBackGround {
  background-image: url("/src/Components/Navbar/LNMIITHome.jpg");
  height: 70vh;
  width: 100%;
  opacity: 1;
}
.DepartmentsBackGround {
  background-image: url("/src/Components/Navbar/DepartmentBackGround.jpeg");
  height: 70vh;
  width: 100%;
  opacity: 1;
}
.CampusLifeBackGround {
  background-image: url("/src/Components/Navbar/CampusLifeBackGround.png");
  height: 70vh;
  width: 100%;
  opacity: 1;
}
.CentreOFRoboticsBackGround {
  background-image: url("/src/Components/Navbar/CentreOfRoboticsBackGround.jpg");
  height: 70vh;
  width: 100%;
  opacity: 1;
}
.CentreOfExcellenceBackGround {
  background-image: url("/src/Components/Navbar/CentreOfExcellenceBackGround.jpeg");
  height: 70vh;
  width: 100%;
  opacity: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LNMIITWhiteLogo {
  display: none;
}
.LNMIITBlackLogo {
  width: 10rem;
  padding: 10px;
}
.NavbarHeading {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}
.NavbarHeading:hover {
  color: red;
  font-size: 1.5rem;
}

.NavbarHeading::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.NavbarHeading:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: red;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

.top-nav {
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background-color: #ff4000f1;
  color: #fff;
  height: 50px;
  padding: 1em;
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .LNMIITLogo {
    position: absolute;
    /* top: -1%; */
    left: 57%;
  }
  .menu .NavbarHeading {
    margin: 10px 30px;
    color: black;
  }
  .NavbarHeading:hover {
    color: red;
    font-size: 1.5rem;
  }

  .NavbarHeading::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .top-nav {
    display: block;
  }
  .NavbarLinks {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 1.2em;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: max-content;
    /* justify-content: center; */
    align-items: center;
  }

  .NavbarHeading:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 3em;
    padding: 0em;
    margin: 0px 0px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    /* padding: 0.5em 0; */
    width: 100%;
    color: rgb(255, 0, 0);
    background-color: #ffffff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #ff0000;
  }
}
